<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Atividades</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="container">

        <h1>Registro de Atividades</h1>

        <button>Nova Atividade</button>

        <table>

            <tr>
                <th>Nome da Atividade</th>
                <th>Status</th>
                <th>Prazo</th>
            </tr>

            <tr>
                <td>Estudar HTML</td>
                <td>Em andamento</td>
                <td>20/06/2026</td>
            </tr>

            <tr>
                <td>Fazer trabalho</td>
                <td>Concluído</td>
                <td>18/06/2026</td>
            </tr>

            <tr>
                <td>Pesquisar Bootstrap</td>
                <td>Pendente</td>
                <td>25/06/2026</td>
            </tr>

        </table>

    </div>

</body>
</html>