{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Atividades</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="container">

        <h1>Registro de Atividades</h1>

        <table>
            <tr>
                <th>Nome</th>
                <th>Status</th>
                <th>Prazo</th>
            </tr>

            {% for atv in atividades %}
            <tr>

                {% if atv.prazo < hoje %}
                    <td>{{ atv.nome }}</td>
                    <td>{{ atv.status }}</td>
                    <td style="color:red">{{ atv.prazo }}</td>


                {% else %}

                    <td>{{ atv.nome }}</td>
                    <td>{{ atv.status }}</td>
                    <td>{{ atv.prazo }}</td>

                {% endif %}

            </tr>
            {% endfor %}

        </table>

    </div>

</body>
</html>