{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Atividades</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class="container">

        <h1>Registro de Atividades</h1>

        <button>Nova Atividade</button>

        <table>
            <tr>
                <th><h3>Nome:</h3></th>
                <th><h3>Status:</h3></th> 
                <th><h3>Prazo:</h3></th>
            </tr>
            {% for atv in atividades %}
                <tr>
                    <td>{{atv.nome}}</td>
                    <td>{{atv.status}}</td> 
                    <td>{{atv.prazo}}</td>
                </tr>
            {% endfor %}
        </table>

    </div>

</body>
</html>